.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.static {
  position: static;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0px;
}

.z-0 {
  z-index: 0;
}

.z-\[1\] {
  z-index: 1;
}

.m-0 {
  margin: 0px;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mb-\[1mm\] {
  margin-bottom: 1mm;
}

.mt-\[-1mm\] {
  margin-top: -1mm;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.hidden {
  display: none;
}

.h-\[297mm\] {
  height: 297mm;
}

.h-\[5mm\] {
  height: 5mm;
}

.h-full {
  height: 100%;
}

.w-16 {
  width: 4rem;
}

.w-\[210mm\] {
  width: 210mm;
}

.w-full {
  width: 100%;
}

.min-w-10 {
  min-width: 2.5rem;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-grow {
  flex-grow: 1;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-0 {
  gap: 0px;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-\[1mm\] {
  gap: 1mm;
}

.border-8 {
  border-width: 8px;
}

.\!border-none {
  border-style: none !important;
}

.border-red-300 {
  --tw-border-opacity: 1;
  border-color: rgb(252 165 165 / var(--tw-border-opacity, 1));
}

.\!bg-transparent {
  background-color: transparent !important;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.px-\[1\.5cm\] {
  padding-left: 1.5cm;
  padding-right: 1.5cm;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.\!pt-0 {
  padding-top: 0px !important;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pt-\[12mm\] {
  padding-top: 12mm;
}

.text-center {
  text-align: center;
}

.font-\[inter\] {
  font-family: inter;
}

.font-felipa {
  font-family: Felipa;
}

.text-\[0\.7em\] {
  font-size: 0.7em;
}

.text-\[11pt\] {
  font-size: 11pt;
}

.text-\[15pt\] {
  font-size: 15pt;
}

.text-\[20pt\] {
  font-size: 20pt;
}

.text-\[55px\] {
  font-size: 55px;
}

.text-\[8pt\] {
  font-size: 8pt;
}

.font-bold {
  font-weight: 700;
}

.font-thin {
  font-weight: 100;
}

.capitalize {
  text-transform: capitalize;
}

.leading-\[0\] {
  line-height: 0;
}

.leading-none {
  line-height: 1;
}

.leading-snug {
  line-height: 1.375;
}

.tracking-tighter {
  letter-spacing: -0.05em;
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.\[number\:Range\] {
  number: Range;
}

.\[number\:ap_cost\] {
  number: ap cost;
}

.\[number\:blood_cost\] {
  number: blood cost;
}

.\[number\:charges\] {
  number: charges;
}

.\[number\:magical_def\] {
  number: magical def;
}

.\[number\:physical_def\] {
  number: physical def;
}

.\[number\:repair_mod\] {
  number: repair mod;
}

.\[number\:size\] {
  number: size;
}

.\[number\:tier\] {
  number: tier;
}

.\[number\:xp\] {
  number: xp;
}

.\[text\:damage\] {
  text: damage;
}

.\[text\:heal\] {
  text: heal;
}

.\[text\:lore\] {
  text: lore;
}

.\[text\:nickname\] {
  text: nickname;
}

.\[textArea\:info\] {
  text-area: info;
}

.\[textArea\:skills\] {
  text-area: skills;
}

.\[textArea\:ultimate\] {
  text-area: ultimate;
}

/* -------------------------------------------------------------------------- */

.az-masked-image {
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.az-dimmed-overlay::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

.az-bottom-dashed {
  border-bottom: 0.5px dashed gray;
}

.hover\:text-\[crimson\]:hover {
  --tw-text-opacity: 1;
  color: rgb(220 20 60 / var(--tw-text-opacity, 1));
}

.aria-checked\:opacity-100[aria-checked="true"] {
  opacity: 1;
}
