@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Felipa&family=Romanesco&display=swap");

.az-masked-image {
	mask-size: cover;
	mask-repeat: no-repeat;
}
.az-dimmed-overlay::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}
